.list-title{
    color: white;
    background-color: darkblue;
    padding:10px;
    font-size:120%;
    
}
.list-group .list-group-item{
   background-color: #F3F3F3;    
    font-family:sans-serif;
    border: thin solid white;
    
}
.ul li{
    list-style: none;
}
.navbar-nav{
    color: yellow;
    background-color: darkblue;
}


.wish-list {
	padding: 15px 0;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}
.wish-list li {
	display: inline-block;
	margin-right: 45px;
}
.wish-list li a {
	color:#df1f26;
	font:500 14px/14px 'Lato', sans-serif;
	padding-left: 22px;
	text-decoration: underline;
}
.wish-list li a:hover{
	text-decoration:none;
}
.wish-list li.wish {
	background: url(../images/wishlist.png) no-repeat 0;
}
.wish-list li.compare {
	background: url(../images/compare.png) no-repeat 0;
	margin-right: 0;
}
ul.size {
	padding: 0;
	list-style: none;
	margin-top: 2em;
}
ul.size h3 {
	color:#3e3f3f;
	font:600 16px/16px 'Lato', sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font:500 14px/14px 'Lato', sans-serif;
	background:#DFDFDF;
	padding: 5px 10px;
}
ul.size li a:hover{
	background:#df1f26;
	color:#fff;
}
.modal-header {
	border-bottom: none;
    text-align: center;
    background-color: #314D68;
    padding: 22px 12px;
}
/*--Login form--*/
.login-form input[type="text"],.login-form input[type="password"]  {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="text"]:hover,.login-form input[type="password"]:hover {
    border: 1px solid #314D68;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="submit"] {
	background:#314D68;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    outline: none;
	cursor:pointer;
    -webkit-appearance: none;
    padding: 10px 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.login-form input[type="submit"]:hover {
    opacity:0.95;
}
input#email {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(../images/user.png)no-repeat 8px 10px #fff;
}
.login-form input.user {
  background: url(../images/user.png)no-repeat 8px 10px #fff;
}
.login-form input.lock {
  background: url(../images/lock.png)no-repeat 8px 10px #fff;
}
.login-form p {
	text-align:center;
	margin-top:1em;
	font-size:0.95em;
	letter-spacing:1px;
}
.login-form p a {
	color:#ce451b;
}
@media only screen and (max-width:430px) {
	.login-form p {
		letter-spacing: 0px;
	}
	.modal-body {
		padding: 30px 25px 35px;
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		width: 83%;
	}	
}
.login-form p {
    font-size: 0.9em;
    letter-spacing: 0px;
}
.signin-rit .checkbox {
    padding: 0em 0em 0em 1.1em;
}