.btn-navmenu{
	margin-right:20px;
}
.list-title{
    color: white;
    background-color: darkblue;
    padding:10px;
    font-size:120%;
    
}
.list-group .list-group-item{
   background-color: #F3F3F3;    
    font-family:sans-serif;
    border: thin solid white;
    
}
.close_modal {
	float:right;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color:#F00;
    text-shadow: 0 0px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.close_modal:hover, .close_modal:focus{
	color: #006;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;	
}
.ul li{
    list-style: none;
}
.navbar-nav{
    color: yellow;
    background-color: darkblue;
}


.wish-list {
	padding: 15px 0;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}
.wish-list li {
	display: inline-block;
	margin-right: 45px;
}
.wish-list li a {
	color:#df1f26;
	font:500 14px/14px 'Lato', sans-serif;
	padding-left: 22px;
	text-decoration: underline;
}
.wish-list li a:hover{
	text-decoration:none;
}
.wish-list li.wish {
	background: url(../images/wishlist.png) no-repeat 0;
}
.wish-list li.compare {
	background: url(../images/compare.png) no-repeat 0;
	margin-right: 0;
}
ul.size {
	padding: 0;
	list-style: none;
	margin-top: 2em;
}
ul.size h3 {
	color:#3e3f3f;
	font:600 16px/16px 'Lato', sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #FFF;
	font:500 14px/14px 'Lato', sans-serif;
	background:#DFDFDF;
	padding: 5px 10px;
}
ul.size li a:hover{
	background:#df1f26;
	color:#fff;
}
.modal-header {
	border-bottom: none;
    text-align: center;
    background-color: #314D68;
    padding: 22px 12px;
}
button.close:hover{
	color:#FFF;	
	opacity:1;
}
/*--Sign up--*/
#signup ol
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	#signup li
	{
		position: relative;
	}
	#signup fieldset input,
	#signup fieldset textarea,
	#signup fieldset select
	{
		background: #fff url(ico_validation.png) 379px 24px no-repeat;
		display: inline-block;
		width: 371px;
		border: 1px solid #fff;
		padding: 3px 26px 3px 3px;

		-moz-transition: background-color 1s ease;
		-webkit-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	#signup fieldset select		{ width: 401px; padding: 3px; }
	#signup fieldset #postcode	{ padding: 3px; width: 400px; }


#signup input::-webkit-input-placeholder,
#signup input:-moz-placeholder {
	color: #A6A6A6;
}

#signup .validation01
{
	background: red;
	color: #fff;
	display: none;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	right: -160px;
	text-align: center;
	top: 0;
	width: 150px;
	outline: 0;

	-moz-box-shadow: 0px 0px 4px #ffffff;
	-webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#signup fieldset input:required:valid
{
	background-color: #fff;
	background-position: 379px -61px;
}

/* Enhanced error styling */
#signup input.error
{
	background-color: pink;
	background-position: 379px 3px;
	outline: none;
}
#signup input.required
{
	background-color: #fff;
	background-position: 379px -29px;
} 	

/*--Login form--*/
.login-form input[type="text"],.login-form input[type="password"]  {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="text"]:hover,.login-form input[type="password"]:hover {
    border: 1px solid #314D68;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="submit"] {
	background:#314D68;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    outline: none;
	cursor:pointer;
    -webkit-appearance: none;
    padding: 10px 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.login-form input[type="submit"]:hover {
    opacity:0.95;
}
input#email {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(../images/email.png)no-repeat 8px 10px #fff;
}
input#address {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(../images/map.png)no-repeat 8px 10px #fff;
}
input#username {
	width: 100%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(../images/user.png)no-repeat 8px 10px #fff;	
}
input#tel {
	width: 100%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(../images/phone.png)no-repeat 8px 10px #fff;	
}
.login-form input.email {
  background: url(../images/email.png)no-repeat 8px 10px #fff;
}
.login-form input.lock {
  background: url(../images/lock.png)no-repeat 8px 10px #fff;
}
.login-form p {
	text-align:center;
	margin-top:1em;
	font-size:0.95em;
	letter-spacing:1px;
}
.login-form p a {
	color:#ce451b;
}
@media only screen and (max-width:430px) {
	.login-form p {
		letter-spacing: 0px;
	}
	.modal-body {
		padding: 30px 25px 35px;
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		width: 83%;
	}	
}
.login-form p {
    font-size: 0.9em;
    letter-spacing: 0px;
}
a.forgot {
    float: right;
	color:#ce451b;
	text-decoration:none;
	font-size: 0.875em;
}

h5.or {
    text-align: center;
    margin: 20px 0;
    color: #314D68;
}
.social-icons {
    text-align: center;
}
.social-icons ul li {
	display:inline-block;
	margin:0 5px;
}
.form-error{
	color:red;	
}
